h2{
    color: red;
}

#h{
    color: rgb(71, 13, 32);
}

.p{
    font-style: italic;
}

a[href="https://www.google.com/"]{
    color: brown;
}

a:hover{
    color: red;
}

p::first-line{
    color: red;
}

div>a{
    /* text-decoration: none;  */
    color: rgb(83, 12, 65);
}

div+a{
    color: green;
}

a,p{
    color: rgb(71, 112, 9);
}

.div{
    column-count: 3;
    column-gap: 50px;
    /* column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: blueviolet; */
    column-rule: 1px solid gray;
    column-width: 300px;

}

h1{
    column-span: all;
}
.flex-container{
    background-color: indianred;
    display: flex;
    height: 200px;
    justify-content: center;
}

.flex-child{
    background-color: wheat;
    margin: 20px;
    padding: 20px;
    width: 100px;
    text-align: center;

}

#one{
    align-self: flex-start;
}

#two{
    align-self: center;
}

#three{
    align-self: flex-end;
}