#div1{
 background-color: blueviolet;
 width: 600px;
 height: 150px;
}

#div2{
  background-color: chocolate;
  width: 600px;
  height: 150px;
  padding: 50px;
  border: 10px solid black;
  box-sizing:border-box; 
}

#green{
 color:green;
}

#blue{
 color: red;
}

#initial{
 color: initial;
}

#inherit{
 color: inherit;
}

img{
    border: 1px solid red;
    width: 500px;
    height: 400px;
    object-fit:contain ;
}